<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CARENOTE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>info.cnbiz.health</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>carenote</string>
			</array>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>혈당기에서 측정값을 블루투스로 가져오기 위해 사용합니다.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>혈당기에서 측정값을 블루투스로 가져오기 위해 사용합니다.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>앱 잠금 해제를 위해 Face ID를 사용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>식사 사진을 촬영해 칼로리를 분석하기 위해 카메라를 사용합니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>걸음수, 칼로리, 거리 데이터를 읽어 대시보드에 자동으로 기록합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>달리기·걷기 경로와 거리를 기록하기 위해 위치를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>식사 사진을 선택해 칼로리를 분석하기 위해 사진에 접근합니다.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
